{% load static %}

  <!-- Footer -->
  <footer id="main-footer" class="py-4 bg-primary text-white text-center">
    <div class="container-fluid">
        <br>
        <div class="row container">
            
        <div class="col-4" >
            <h4>Catogory 1</h4>
            <nav class="nav-list">
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Legal</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
            </nav>
        </div>
        <div class="col-4" >
          <h4>Catogory 2</h4>
            <nav class="nav-list">
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Legal</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
            </nav>
        </div>
        <div class="col-4" >
          <h4>Catogory 3</h4>
            <nav class="nav-list">
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Legal</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
            </nav>
        </div>
        </div>
        <hr>
        <div class="row">
        <div class="col-7">
            <nav id="social-media-links">
              <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="index.html"><img src="{% static 'img/rignrack_logo.png' %}" id="logo" alt=""></a>
                  </li>
                <li class="list-inline-item">
                  <a href="#" class="brand-icon"><i class="fab fa-facebook fa-lg" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="brand-icon"><i class="fab fa-youtube fa-lg" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="brand-icon"><i class="fab fa-linkedin fa-lg" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="brand-icon"><i class="fab fa-instagram fa-lg" aria-hidden="true"></i></a>
                </li>
               <li class="list-inline-item">
                    <a href="#" class="brand-icon"><i class="fab fa-discord fa-lg" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="brand-icon"><i class="fab fa-tiktok fa-lg" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="brand-icon"><i class="fab fa-twitter fa-lg" aria-hidden="true"></i></a>
                  </li>
                <li class="list-inline-item">
                    <a href="#" class="brand-icon"><i class="fab fa-weibo fa-lg" aria-hidden="true"></i></a>
                </li>
              </ul>
            </nav>
            </div>
        <div class="col-5" id="copyright-text">&copy;<span class="year"></span> rignrack. All rights reserved. </div>
    </div>
      </div>

  </footer>