{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'img/rignrack_logo.png' %}" id="logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li class="nav-item mr-3">
            <a class="nav-link" href="#">System Builder</a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link" href="#">Parts Library</a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link" href="#">Articles</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-3">
            <a class="nav-link" href="register.html">
                Sign Up</a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link" href="login.html">


                Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>