{% load static %}

<div id="parts-list-bar">
  <div class="p-3 border-bottom">
    <h5>My Parts List <i class="fas fa-edit fa-1x"></i></h5>
  </div>
  <div v-if="parts_list.length">

  <div class="p-2 border-bottom d-flex flex-row">
    <button class="btn mr-auto">
      <i class="fas fa-undo fa-1x"></i> UNDO
    </button>
    <button class="btn mx-auto">
      <i class="fas fa-redo fa-1x"></i> REDO
    </button>
    <button class="btn ml-auto">
      <i class="fas fa-trash-alt"></i> CLEAR
    </button>
  </div>
  <div class="p-2 border-bottom d-flex flex-row">
    <div>Parts</div>
  </div>
  <div id="accordion" class="list-group list-group-flush">
    <div v-for="(part, index) in parts_list" class="list-group-item p-0">
      <div class="p-3 border-bottom" >
        <div class="my-auto px-2 d-flex flex-column" style="width:64px;">
          <a :href="'#collapse' + (index + 1)" data-parent="#accordion" data-toggle="collapse">
            <img :src="'{% static '' %}' + part.part_icon" alt="" class="img-fluid">
          </a>
          <small class="font-weight-bold text-center">[[ part.part_type ]]</small>
        </div>
      </div>
      <div :id="'collapse' + (index + 1)" class="p-2 collapse">
        <div class="flex-column d-flex">
          Recently Viewed
          <hr class="m-2">
          <div v-for="option in part.part_options" class="mb-2">
            <button class="btn btn-block d-flex flex-row p-2">
              <div class="my-auto px-2">
                <img :src="'{% static '' %}' + option.part_img" alt="" style="width:64px;mix-blend-mode: multiply;">
                </div>
                <div class="mr-auto d-flex flex-column text-left parts-list-entry">
                  <small class="font-weight-bold">[[ option.part_name ]]</small>
                <small class="">[[ option.part_remark ]]</small>
                </div>
              <div class="ml-auto my-auto px-2" >
              <i class="fas fa-check-circle"></i>
            </div>
            </button>
          </div>
          <button class="btn btn-block btn-outline-secondary">Find More</button>
        </div>
      </div>
    </div>
  </div>
  <div class="border-bottom" style="height: 150px;">
  </div>
</div>
<div v-else>
  <div class="p-3 border-bottom" style="height: 100vh;">
    <div class="my-auto px-2 d-flex flex-column">
      <h5 class="text-center">Loading...</h5>
    </div>
  </div>
</div>
</div>