<div class="row">
    <div class="col-6">
        <h3>User Rating</h3>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <p class="mb-0">4.1 average based on 254 reviews.</p>
        <hr>
        <div class="progress mb-2 w-50">
            <div class="progress-bar bg-secondary" style="width:35%"></div>
        </div>
      
        <div class="progress mb-2 w-50">
            <div class="progress-bar bg-secondary" style="width:35%"></div>
        </div>
      
        <div class="progress mb-2 w-50">
            <div class="progress-bar bg-secondary" style="width:55%"></div>
        </div>
      
        <div class="progress mb-2 w-50">
            <div class="progress-bar bg-secondary" style="width:75%"></div>
        </div>
        
        <div class="progress w-50">
            <div class="progress-bar bg-secondary" style="width:35%"></div>
        </div>
    </div>
</div>