<div class="row">
    <div class="btn-group mt-2">
        <a href="#" class="btn btn-sm btn-primary font-weight-bold">CPU</a>
        <a href="#" class="btn btn-sm btn-secondary font-weight-bold">Intel</a>
        <a href="#" class="btn btn-sm btn-dark font-weight-bold">Core i9-10900K</a>
      </div>
      <div class="btn-group mt-2">
        <a href="#" class="btn btn-sm btn-success font-weight-bold">GPU</a>
        <a href="#" class="btn btn-sm btn-secondary font-weight-bold">Nvidia</a>
        <a href="#" class="btn btn-sm btn-dark font-weight-bold">GeForce RTX 3080 Ti</a>
      </div>
      <div class="btn-group mt-2">
        <a href="#" class="btn btn-sm btn-danger font-weight-bold">MOBO</a>
        <a href="#" class="btn btn-sm btn-secondary font-weight-bold">ASUS</a>
        <a href="#" class="btn btn-sm btn-dark font-weight-bold">Z490 Chipset, Extended ATX</a>
      </div>
      <div class="btn-group mt-2">
        <a href="#" class="btn btn-sm btn-warning font-weight-bold">RAM</a>
        <a href="#" class="btn btn-sm btn-secondary font-weight-bold">G.SKILL</a>
        <a href="#" class="btn btn-sm btn-dark font-weight-bold">DDR4 3200, 32GB</a>
      </div>
      <div class="btn-group mt-2">
        <a href="#" class="btn btn-sm btn-info font-weight-bold">SSD</a>
        <a href="#" class="btn btn-sm btn-secondary font-weight-bold">Samsung</a>
        <a href="#" class="btn btn-sm btn-dark font-weight-bold">970 EVO, 1TB</a>
      </div>
</div>