{% load static %}

<div id="visualizer" class="position-relative d-flex">
    <div class="col-12 position-absolute align-self-end" style="z-index:1;">
  <div id="visualizer-progress" class="d-none">
    <div class="text-center text-white">Loading...</div>
    <div class="progress" style="height:5px;">
      <div id="file" class="progress-bar" style="width:0%"></div>
    </div>
  </div>
  <div id="visualizer-control" class="p-0 row">
    <div class="btn-group mr-auto">
      <button class="btn btn-sm text-white" onclick="download()"><i class="fas fa-file-download fa-2x"></i></button>
    <button class="btn btn-sm text-white" ><i class="fas fa-undo-alt fa-2x"></i></button>
    <button class="btn btn-sm text-white" ><i class="fas fa-redo-alt fa-2x"></i></button>
    </div>
    <div class="btn-group ml-auto">  
    <div class="dropup">
      <button id="resolution-button" class="btn dropdown-toggle text-white font-weight-bold" type="button" data-toggle="dropdown">
        1080p <span class="badge badge-danger align-top">HD</span>
      </button>
      <div class="dropdown-menu">
        <button class="btn btn-sm dropdown-item" @click="changeResolution($event,'3840','2160')">
          2160p <span class="badge badge-danger align-top">HD</span>
        </button>
        <button class="btn btn-sm dropdown-item" @click="changeResolution($event,'2560','1440')">
          1440p <span class="badge badge-danger align-top">HD</span>
        </button>
        <button class="btn btn-sm dropdown-item" @click="changeResolution($event,'1920','1080')">
          1080p <span class="badge badge-danger align-top">HD</span>
        </button>
        <button class="btn btn-sm dropdown-item" @click="changeResolution($event,'1280','720')">
          720p <span class="badge badge-danger align-top">HD</span>
        </button>
        <button class="btn btn-sm dropdown-item" @click="changeResolution($event,'854','480')">
          480p </button>
      </div>
    </div>
    <button class="btn btn-sm text-white" @click="toggleFullscreen()">
      <i v-show="fullscreen" class="fas fa-compress-alt fa-2x white-icon"></i>
      <i v-show="!fullscreen" class="fas fa-expand fa-2x white-icon"></i>
    </button>
  </div>
</div>
</div>
<canvas id="canvas" width="1920" height="1080" class="col-12 p-0"></canvas> 
</div>