{% extends 'base.html' %}

{% load static %}

{% block content %}
<div id="systembuilder" class="container-fluid h-100">
<div class="row h-100">
<div class="col-lg-9 p-0">
<div id="vs-app">
  {% include 'partials/_visualizer.html' %}
</div>
<div id="detail-zone" class="col-12">
  <div class="d-flex pt-3">
    <div class="mr-auto">

    </div>
    <div class="ml-auto">
      <button class="btn btn-danger"><i class="far fa-heart"></i> LIKE</button>
    </div>
  </div>
  <hr>
  <div class="d-flex flex-row">
  <div class="mr-auto">
    <h4>Recommendations</h4>
  </div>
  <div class="ml-auto">
    <button class="btn btn-secondary btn-sm text-white"><i class="fas fa-folder-plus"></i> SAVE</button>
    <button class="btn btn-secondary btn-sm text-white"><i class="fas fa-exclamation-triangle"></i> REPORT</button>
  </div>
  </div>
  <div class="d-flex flex-row">
    <div class="card m-2">
      <img class="img-fluid card-img-top" src="https://source.unsplash.com/random/300x169" alt="">
      <div class="card-img-overlay">
        <h2>
          <span class="badge badge-secondary text-white">PC</span>
        </h2>
      </div>
      <div class="card-body">
      </div>
    </div>
    <div class="card m-2">
      <img class="img-fluid card-img-top" src="https://source.unsplash.com/random/300x169" alt="">
      <div class="card-img-overlay">
        <h2>
          <span class="badge badge-secondary text-white">PC</span>
        </h2>
      </div>
      <div class="card-body">
      </div>
    </div>
    <div class="card m-2">
      <img class="img-fluid card-img-top" src="https://source.unsplash.com/random/300x169" alt="">
      <div class="card-img-overlay">
        <h2>
          <span class="badge badge-secondary text-white">PC</span>
        </h2>
      </div>
      <div class="card-body">
      </div>
    </div>
    <div class="card m-2">
      <img class="img-fluid card-img-top" src="https://source.unsplash.com/random/300x169" alt="">
      <div class="card-img-overlay">
        <h2>
          <span class="badge badge-secondary text-white">PC</span>
        </h2>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
  <br>
  <div id="vs-tabs">	
    <ul class="nav nav-tabs">
      <li class="nav-item">
          <a ref="partstab" href="#parts-list" class="nav-link d-lg-none" data-toggle="tab">Parts List</a>
      </li>
      <li class="nav-item">
        <a ref="reviewstab"href="#reviews" class="nav-link active" data-toggle="tab">Reviews</a>
      </li>
      <li class="nav-item">
          <a href="#specification" class="nav-link" data-toggle="tab">Specification</a>
      </li>
      <li class="nav-item">
        <a href="#support" class="nav-link" data-toggle="tab">Support</a>
      </li>
      <!-- <li class="nav-item">
        <a href="#qna" class="nav-link" data-toggle="tab">Q&A</a>
      </li> -->
  </ul>
  <div class="tab-content">
      <div class="tab-pane p-3 fade d-lg-none" id="parts-list">
          {% include 'partials/_parts_list.html' %}
          <div class="border-top ml-auto p-3" style="height: 120px;">
            <h5>Total Cost:</h5>
          </div>
      </div>
      <div class="tab-pane p-3 fade show active" id="reviews">
        {% include 'partials/_reviews.html' %}
      </div>
      <div class="tab-pane p-3 fade" id="specification">
          {% include 'partials/_specification.html' %}
      </div>
      <div class="tab-pane fade" id="support"></div>
      <!-- <div class="tab-pane fade" id="qna"></div> -->
  </div>
</div>
</div>
<!-- Footer -->
{% include 'partials/_footer.html' %}
</div>
<div class="col-lg-3 d-none d-lg-block sticky-top h-100 p-0">
  <div id="vs-bar" class="shadow">
  {% include 'partials/_parts_list.html' %}
  <div class="col-lg-3 d-none d-lg-block fixed-bottom border-top ml-auto p-3" style="height: 120px;background: #f5f5f5;">
    <h5>Total Cost:</h5>
  </div>
  </div>
</div>
</div>
</div>
{% endblock %}