
#logo {
  max-width: 128px;
}

.bg-primary
{
  background-color: #373737 !important;
}

.nav-bar {
  min-height: 120px;
  width: 100%;
}

.nav-list a {
  color: #fff;
}

#main-footer h4
{
  text-align: left;
}

#social-media-links
{
  text-align: left;
}

#copyright-text
{
  text-align: right;
}

#main-footer #logo{
  max-width: 100px;
}

#main-footer ul {
  list-style-type: none;
  padding-left: 0%;
}

#main-footer hr {
  border-color: #777;
}

#main-footer .brand-icon
{
  color: #fff;
}

#main-footer .nav-list
{
  text-align: left;
}

#vs-bar
{
  height: 100vh; 
  overflow: auto;
}

#vs-bar div .border-bottom{
  background: #f5f5f5;
}

#accordion .parts-list-entry{
  height: 60px;
}

@media (min-width: 1500px) {
  #accordion .parts-list-entry small{
    font-size: 15px;
  }
}

@media (max-width: 1499px) {
  #accordion .parts-list-entry small{
    font-size: 1vw;
  }
}

@media (max-width: 991px) {
  #accordion .parts-list-entry small{
    font-size: 15px;
  }
}