{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,300,400,400i,700,700i" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'npm_pkgs/bootstrap/bootstrap.min.css' %}">
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>RigNRack</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">  
</head>
<body>
    <!-- Nav Bar -->
    {% include 'partials/_navbar.html' %}
    <!-- Main Content -->
    {% block content %} {% endblock %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
    <script src="{% static 'npm_pkgs/jquery/jquery.min.js' %} "></script>
    <script src="{% static 'npm_pkgs/bootstrap/bootstrap.min.js' %} "></script>
    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script src="{% static 'js/main.js' %} "></script>
    <script src="{% static 'js/systembuilder.js' %} "></script>
    <script>
      function download()
      {
        document.app.resource_request("Model","{% static 'gltf/maximus_vi_formula.glb' %}");
      }
    </script>
    <script type="module">
      import init, {WasmApp} from "{% static 'npm_pkgs/rustwebviewer/rust_web_viewer.js' %}";

      document.asset_request = function (request_id, uri) 
      {
        console.log("asset_request request_id: ", request_id);
        console.log("asset_request uri: ", uri);
        //document.msg = request;
        var xhr = new XMLHttpRequest();
        xhr.responseType = "arraybuffer";
        xhr.open("GET", uri, true);
        xhr.onload = function() 
        {
          if (this.readyState == XMLHttpRequest.DONE) 
          {
            if (this.status === 200) 
            {              
              document.app.asset_retrieve(request_id, this.response, this.status);
            } 
            else
            {
              console.log("uri failed to load status: ", this.status);
            }
          }
        };
        xhr.onprogress = function(evt)
        {
          var progress_div = document.getElementById("visualizer-progress");
    
          if (evt.lengthComputable) 
          {
            var progress_bar = document.getElementById("file");
    
            let progress_val = (evt.loaded / evt.total) * 100;
    
            progress_bar.style.width = progress_val+ "%";
    
            if(evt.loaded == evt.total)
            {
              progress_div.classList.add("d-none");
            }
            else
            {
              progress_div.classList.remove("d-none");
            }
          }
        };
        xhr.send(null);
        /*fetch(uri).then((response) =>
        { 
          response.arrayBuffer().then((data) =>
          {
            document.app.asset_retrieve(request_id, data, response.status);
          });
        });*/
      };
    
      document.app = null;
    
      init()
        .then(() => 
        {  
          document.app = new WasmApp();
          document.app.init();
          document.app.update();
        });
      
    </script>
</body>
</html>